<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="box">
		        <hr style="margin-top: 10px">
		        <h2 class="intro-text text-center" style="color: rgb(64, 152, 152)"><%=user.nickname%></h2>
		        <hr>
				<div class="row col-lg-12">
				    <div class="col-lg-2">
				        <i class="fa fa-user fa-2x"></i>
				        <small><%=user.username%></small>
				    </div>
				     <div class="col-lg-2">
				        <i class="fa fa-envelope-o fa-2x"></i>
				        <small><%=user.email%></small>
				    </div>
				    <div class="col-lg-2">
				        <a href="/dashboard/edit"><i class="fa fa-pencil fa-2x"></i></a>
				        <small>Edit</small>
				    </div>
				    <div class="col-lg-2">
				    	<a href="/dashboard/notifications"><i class="fa fa-bell-o fa-2x"></i></a>
				    	<small>Notificações</small>
				    </div>
				    <div class="col-lg-2">
				    	<a href="/dashboard/followed"><i class="fa fa-eye fa-2x"></i></a>
				    	<small>Seguidas</small>
				    </div>
				    <div class="col-lg-2">
				    	<a href="/dashboard/myqueixinhas"><i class="fa fa-frown-o fa-2x"></i></a>
				    	<small>MyQueixinhas</small>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>