<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="box">
		        <hr style="margin-top: 10px">
		        <h2 class="intro-text text-center"><strong><%=user.nickname%></strong></h2>
		        <hr>
				<div class="row col-lg-12">
				    <div class="col-lg-2">
				        <i class="fa fa-user"></i>
				         <%=user.username%>
				    </div>
				     <div class="col-lg-3">
				        <i class="fa fa-envelope-o"></i>
				         <%=user.email%>
				    </div>
				    <div class="col-lg-2">
				    	<a href="/dashboard/notifications"><i class="fa fa-bell-o"></i>
				    	 Notificações </a>
				    </div>
				    <div class="col-lg-2">
				    	<a href="/dashboard/followed"><i class="fa fa-eye"></i>
				    	 Seguidas </a>
				    </div>
				    <div class="col-lg-2">
				    	<a href="/dashboard/myqueixinhas"><i class="fa fa-frown-o"></i>
				    	 As tuas queixas </a>
				    </div>
				    <div class="col-lg-1">
				        <a href="/dashboard/edit"><i class="fa fa-pencil"></i>
				         Editar</a>
				    </div>				    
				</div>
			</div>
		</div>
	</div>
</div>