<% include _layouts/top %>
    <div class="container">
	   	<div id="page-register" class="row">
	            <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-3">
	                <div class="box">
	                    <div class="box-content">
	                        <hr>
	                        <h2 class="intro-text text-center">
	                            <strong>Resgista-te</strong>
	                        </h2>
	                        <hr>
	                    	<form action='' method='POST'>
		                        <label>Nickname:</label>
		                        <input type="text" class="form-control" name="name" required><br>
		                        <label>Email:</label>
		                        <input type="email" name="mail" class="form-control" required><br>
		                        <label>Password:</label>
		                        <input type="password" name="mail" class="form-control" required><br>
		                        <button class="btn btn-default btn-lg" type="submit">Send</button>
		                    <form>
	                    </div>
	                </div>
	            </div>
	        </div>        
	    </div>
    </div>
<% include _layouts/footer %>
