<% include ./../_layouts/top %>

<div class="container">
    <div id="page-login" class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-1">
            <div class="box">
                <div class="box-content">
                    <hr>
                    <h2 class="intro-text text-center">
                        Recuperação de <strong>Password</strong>
                    </h2>
                    <hr>
                    <form method="POST" action="/forgot_password">
                        <br>
                        <div id="forgot">
                            <p class="text-center">Insere o teu email de registo, e irás receber os teus dados por email</p>
                            <% if(details.state === 1) { %>
                                <p class="text-center" style="color: red"><strong> Não existem utilizadores registados com o email indicado!</strong> </p>
                            <% } %>
                            <% if(details.state === 2) { %>
                                <p class="text-center" style="color: blue"><strong> O seu username e password formam enviados para o email indicado.</strong></p>
                                <p class="text-center"><a href="/login">Login</a> </p>
                            <% } %>
                             <% if(details.state === 3) { %>
                                <p class="text-center" style="color: red"><strong> Ocorreu um erro, no envio dos dados solicitados, pedimos que tente mais tarde, ou que use o formulário de <a href="/contact">contacto</a></strong></p>
                            <% } %>                           
                        </div>
                        <br>
                        <% if(details.state < 2) { %>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control" name="email" required>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default"><strong>Submeter</strong></button>
                            </div>
                        <% } %>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./../_layouts/footer %>