<% include ./../_layouts/top %>

<div class="container">
    <div id="page-login" class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-1">
            <div class="box">
                <div class="box-content">
                    <hr>
                    <h2 class="intro-text text-center">
                        Recuperação de <strong>Password</strong>
                    </h2>
                    <hr>
                    <form method="POST" action="/login">
                        <br>
                        <p class="text-center">Insere o teu email de registo, e irás receber os teus dados por email</p>
                        <br>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" class="form-control" name="password" required>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default"><strong>Submeter</strong></button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./../_layouts/footer %>