<% include ./../_layouts/top %>
    <div class="container">
        <div id="page-login" class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-3">
                <div class="box">
                    <div id="contact" class="box-content">
                        <hr>
                        <h2 class="intro-text text-center">
                            <strong>Contact</strong> us!
                        </h2>
                        <hr>
                        <form id="contactForm" method="POST">
                            <input id="name" type="text" id="name" class="form-control" name="name" placeholder="your name" required><br>
                            <input type="email" id="mail" name="mail" class="form-control" placeholder="your email" required><br>
                            <textarea rows="6" type="text" id="comment" class="form-control" name="comment" placeholder="your comment" required></textarea><br>
                            <button class="btn btn-default btn-lg" onclick="return sendMail();">Send</button>
                        </form>    
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!-- /.container -->
    <script src="javascripts/mail.js"></script>
<% include ../_layouts/footer %>
